/* _____ Import files _____ */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000");
/* _____ style all rules _____ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-transition: 180ms linear background-color;
  -moz-transition: 180ms linear background-color;
  -o-transition: 180ms linear background-color;
  transition: 180ms linear background-color;
}

::selection {
  background-color: #000;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
}

p {
  color: #808080;
  line-height: 1.7;
}

img.lang {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-top: 14px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

input,
textarea,
button {
  font-family: "Nunito", sans-serif;
}

.overlay-body::before {
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: 280ms linear;
  -moz-transition: 280ms linear;
  -o-transition: 280ms linear;
  transition: 280ms linear;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
}

.overlay-body.active::before {
  opacity: 1;
  visibility: visible;
}

.section {
  padding: 120px 0;
}

.section-trigger {
  padding: 70px 0;
}

.bg-gray {
  background-color: #f6f6f6;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-fluid {
  max-width: 100%;
  vertical-align: middle;
}

.text-white {
  color: #fff !important;
}

.main-title h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #4285f4;
}
@media screen and (max-width: 991px) {
  .main-title h2 {
    font-size: 30px;
  }
}
.main-title p {
  font-size: 20px;
  font-weight: 200;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(left, #6696e3 0%, #02def7 100%);
  line-height: 44px;
  cursor: pointer;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.up:hover {
  bottom: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
  box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
}
.up.active {
  opacity: 1;
  visibility: visible;
}

.dark-mode {
  background-color: #0d1117;
}
.dark-mode #header-nav {
  border-bottom: 1px solid #2d3035;
  background-color: #0d1117;
}
.dark-mode #header-nav a.logo {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .dark-mode #header-nav .fa-bars {
    color: #fff;
  }
}
.dark-mode #header-nav main {
  background-color: #0d1117;
}
.dark-mode #header-nav ul {
  background-color: #0d1117;
}
.dark-mode #header-nav ul li a {
  color: #fff;
}
.dark-mode #header-nav ul li ul li a {
  color: #fff;
}
.dark-mode #header-nav ul li ul li:hover > a {
  background-color: #2d3035;
}
.dark-mode p {
  color: #e1e1e1;
}
.dark-mode .features-details,
.dark-mode .team-details,
.dark-mode .about-details,
.dark-mode .head-name b,
.dark-mode .blog-detials,
.dark-mode .view-hero,
.dark-mode .features-items {
  color: #fff;
}
.dark-mode .bg-gray,
.dark-mode .features-inner {
  background-color: #000;
}
.dark-mode .features-inner {
  border: 1px solid #eee;
}

.btn {
  border-radius: 30px;
  padding: 13px 32px;
  position: relative;
  top: 0;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
  -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
}
.btn.btn-primary {
  background-color: #4285f4;
  border: 1px solid #4285f4;
}
.btn:hover {
  -webkit-box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
  box-shadow: 0 5px 30px -5px rgba(66, 133, 244, 0.7);
  top: -2px;
}

/* _____ style header-nav _____ */
#header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
  background-color: #fff;
}
#header-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-nav .fa-bars {
  font-size: 20px;
  cursor: pointer;
}
#header-nav h2 {
  font-size: 32px;
  font-weight: 400;
  text-transform: none;
}
#header-nav h2 a {
  color: #000;
}
#header-nav h2 a span {
  color: #4285f4;
}
#header-nav ul {
  display: flex;
  justify-content: flex-end;
}
#header-nav ul li {
  position: relative;
}
#header-nav ul li a {
  color: #000;
  padding: 15px 20px;
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
}
#header-nav ul li a > i.fa-chevron-down {
  font-size: 9px;
  display: inline-block;
  position: absolute;
  top: 49%;
  right: 3px;
  -webkit-transform: translateY(-49%);
  -moz-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  -o-transform: translateY(-49%);
  transform: translateY(-49%);
}
#header-nav ul li a.link-to.active {
  color: #4285f4;
}
#header-nav ul li:hover > a {
  color: #4285f4;
}
@media screen and (min-width: 992px) {
  #header-nav ul li:hover > ul {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
#header-nav ul .lnr {
  cursor: pointer;
  border-radius: 100px;
  margin: 15px 20px;
  font-size: 20px;
}
#header-nav ul .lnr.lnr-moon {
  color: #4285f4;
}
#header-nav ul .lnr.lnr-sun {
  color: #ff851b;
}
#header-nav ul ul {
  position: absolute;
  width: 210px;
  background-color: #fff;
  flex-direction: column;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #4285f4;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
}
#header-nav ul ul li a {
  padding: 11px 20px;
  display: block;
}
#header-nav ul ul li a > i.fa-chevron-down {
  right: 20px;
  -webkit-transform: rotate(-90deg) translateX(50%);
  -moz-transform: rotate(-90deg) translateX(50%);
  -ms-transform: rotate(-90deg) translateX(50%);
  -o-transform: rotate(-90deg) translateX(50%);
  transform: rotate(-90deg) translateX(50%);
}
#header-nav ul ul li:hover > a {
  background-color: #f4f5f9;
}
#header-nav ul ul ul {
  left: 100%;
  top: 0;
}
#header-nav.sticky {
  -webkit-box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.2);
}

.bars {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .bars {
    display: block !important;
  }
  #header-nav main {
    position: fixed;
    right: -300px;
    width: 300px;
    background-color: #fff;
    top: 0;
    height: 100%;
    z-index: 11;
    padding: 50px 20px;
    -webkit-transition: 280ms linear;
    -moz-transition: 280ms linear;
    -o-transition: 280ms linear;
    transition: 280ms linear;
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  }
  #header-nav main.active {
    right: 0;
  }
  #header-nav main .mobile-site-close {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
  }
  #header-nav main .mobile-site-close span {
    font-size: 50px;
    color: #000 !important;
    opacity: 1;
  }
  #header-nav main ul {
    flex-direction: column;
    color: #212529;
    width: 100%;
    -webkit-transition: 280ms linear;
    -moz-transition: 280ms linear;
    -o-transition: 280ms linear;
    transition: 280ms linear;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header-nav main ul li.active > ul {
    max-height: 236px;
    opacity: 1;
    visibility: visible;
  }
  #header-nav main ul li:hover > a {
    background-color: transparent;
  }
  #header-nav main ul li a {
    display: block;
    color: #212529;
    padding: 8px 0;
    -webkit-transition: 280ms linear;
    -moz-transition: 280ms linear;
    -o-transition: 280ms linear;
    transition: 280ms linear;
  }
  #header-nav main ul li a > i.fa-chevron-down {
    font-size: 9px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #f8f9fa;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    z-index: 31;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: 280ms linear;
    -moz-transition: 280ms linear;
    -o-transition: 280ms linear;
    transition: 280ms linear;
  }
  #header-nav main ul li.active > a > i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #header-nav main ul .lnr {
    margin: 15px 0;
    text-align: left;
  }
  #header-nav main ul ul {
    position: static;
    top: 0;
    border: 2px solid transparent;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    max-height: 0;
    overflow: hidden;
  }
  #header-nav main ul ul li a {
    padding: 8px 15px;
    font-size: 15px;
  }
  #header-nav main ul ul li li a {
    padding: 8px 30px;
  }
}
/* _____ start style view-hero _____ */
.view-hero {
  min-height: calc(100vh - 83px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-hero h2 {
  font-size: 56px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .view-hero h2 {
    font-size: 30px;
  }
}
.view-hero p {
  color: #6c757d;
  font-weight: 300;
  margin: 20px 0 40px;
}

/* _____ start style features _____ */
.features-inner {
  position: relative;
  background-color: #f1f1f1;
  padding: 30px;
  margin-top: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
}
.features-inner span {
  width: 80px;
  height: 80px;
  background-color: #4285f4;
  display: inline-block;
  line-height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
}
.features-inner span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.3);
  -moz-transform: translate(-50%, -50%) scale(1.3);
  -ms-transform: translate(-50%, -50%) scale(1.3);
  -o-transform: translate(-50%, -50%) scale(1.3);
  transform: translate(-50%, -50%) scale(1.3);
}
.features-inner span svg path {
  -webkit-transition: 180ms linear;
  -moz-transition: 180ms linear;
  -o-transition: 180ms linear;
  transition: 180ms linear;
}
.features-inner .features-items {
  padding-top: 40px;
}
.features-inner .features-items h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.features-inner .features-items p {
  color: #8d8d8d;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 17px;
}
.features-inner .features-items a {
  color: #4285f4;
  font-weight: 300;
}
.features-inner:hover {
  background-color: #4285f4;
  color: #fff;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.features-inner:hover span {
  background-color: #fff;
}
.features-inner:hover span path {
  fill: #4285f4;
}
.features-inner:hover p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
.features-inner:hover a {
  color: #fff;
}

.features-details {
  padding: 40px;
}
@media screen and (max-width: 992px) {
  .features-details {
    padding: 0;
  }
}
.features-details h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}
.features-details .features-rect {
  padding: 20px;
  border: 1px solid #eee;
  border-left: 10px solid #4285f4;
  margin-top: 30px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
}
.features-details .features-rect .features-caption {
  margin-bottom: 30px;
  display: inline-block;
  margin-left: 20px;
  line-height: 1.7;
}
.features-details .features-rect img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.features-details .features-rect i {
  font-size: 17px;
}

/* _____ start style about _____ */
.about-details {
  padding: 30px;
}
.about-details h3 {
  font-size: 28px;
}
.about-details p {
  padding-top: 40px;
}

.check {
  position: relative;
}
.check li {
  margin-bottom: 20px;
  color: gray;
}
.check li i {
  margin-right: 15px;
  color: #8bc34a;
}

/* _____ start style our-team _____ */
.team-items {
  margin-top: 20px;
}
.team-items .team-img {
  position: relative;
  overflow: hidden;
}
.team-items .team-img img {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.team-items .team-img .team-bar {
  background-color: #4285f4;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  width: 100%;
  z-index: 2;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.team-items .team-img .team-bar a {
  text-align: center;
  color: #fff;
  margin-right: 15px;
}
.team-items .team-img .team-bar a:last-child {
  margin-right: 0;
}
.team-items .team-details {
  padding: 15px 0;
}
.team-items .team-details h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}
.team-items .team-details span {
  color: #4285f4;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.team-items .team-details p {
  margin: 20px 0;
}
.team-items:hover .team-bar {
  bottom: 0;
}
.team-items:hover .team-img img {
  transform: scale(1.1);
}

/* _____ start style testmonials _____ */
.testmonials-items {
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.testmonials-items img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  margin: auto;
}
.testmonials-items p.caption {
  font-size: 20px;
  margin: 30px 0;
}
.testmonials-items p.head-name {
  color: #000;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #4285f4;
}

.owl-theme .owl-dots .owl-dot:hover:not(.owl-dot.active) span,
.owl-theme .owl-dots .owl-dot span {
  background-color: #dee2e6;
  width: 10px;
  height: 10px;
}

/* _____ start style blog-post _____ */
.blog-detials {
  padding: 15px 0;
}
.blog-detials h2 {
  font-weight: 500;
}
.blog-detials .meta {
  color: #b3b3b3;
  font-size: 13px;
}
.blog-detials a {
  color: #4285f4;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.blog-detials a:hover {
  color: #0056b3;
}
.blog-detials p {
  margin: 30px 0;
  font-size: 15px;
}

/* _____ start style contact _____ */
.contact {
  background: url("../images/contact.webp") center center/cover fixed;
  position: relative;
  z-index: 1;
}
.contact::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  background: -webkit-linear-gradient(left, #4286f4 0%, #42e2f4 100%);
}
.contact .contact-inner {
  background-color: #fff;
}
.contact .contact-inner h2 {
  font-weight: 500;
}
.contact .contact-inner form label {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 15px;
}
.contact .contact-inner form input,
.contact .contact-inner form textarea {
  width: 100%;
  border: 1px solid #ced4da;
  color: #495057;
  font-weight: 400;
  outline: none;
  padding: 10px;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
.contact .contact-inner form input:focus,
.contact .contact-inner form textarea:focus {
  border: 1px solid #4285f4;
}
.contact .contact-inner form textarea {
  height: 150px;
  resize: vertical;
}
.contact .contact-inner form button {
  cursor: pointer;
  width: -webkit-fit-content;
  width: fit-content;
}

/* _____ start style footer _____ */
.copy-right {
  font-size: 13px;
}
.copy-right a {
  color: #4285f4;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.social a {
  margin-right: 25px;
  color: #4285f4;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
