/* _____ start style features _____ */
.features-inner {
    position: relative;
    background-color: #f1f1f1;
    padding: 30px;
    margin-top: 100px;
    @include vendore(webkit moz o, border-radius, 5px);
    @include vendore(webkit moz o, transition, 180ms linear);

    span {
        width: 80px;
        height: 80px;
        background-color: #4285f4;
        display: inline-block;
        line-height: 80px;
        position: absolute;
        top: -40px;
        left: 50%;
        @include vendore(webkit moz o, border-radius, 50%);
        @include vendore(webkit moz ms o, transform, translateX(-50%));
        @include vendore(webkit, box-shadow, 0 4px 20px -5px rgba(66, 133, 244, 0.4));
        @include vendore(webkit moz o, transition, 180ms linear);

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            @include vendore(webkit moz ms o, transform, translate(-50%, -50%) scale(1.3));

            path {
                @include vendore(webkit moz o, transition, 180ms linear);
            }
        }
    }

    .features-items {
        padding-top: 40px;

        h3 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        p {
            color: #8d8d8d;
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 17px;
        }

        a {
            color: $main-color;
            font-weight: 300;
        }
    }

    &:hover {
        background-color: $main-color;
        color: #fff;
        @include vendore(webkit moz ms o, transform, translateY(-5px));
        span {
            background-color: #fff;

            path {
                fill: $main-color;
            }
        }

        p {
            color: rgba(#fff, 0.7);
            font-weight: 300;
        }

        a {
            color: #fff;
        }
    }
}

.features-details {
    padding: 40px;

    @media screen and (max-width: 992px) {
        padding: 0;
    }

    h2 {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 30px;
    }

    .features-rect {
        padding: 20px;
        border: 1px solid #eee;
        border-left: 10px solid $main-color;
        margin-top: 30px;
        width: 100%;
        @include vendore(webkit moz o, border-radius, 4px);
        @include vendore(webkit, box-shadow, 0 5px 15px -2px rgba(0, 0, 0, 0.1));

        .features-caption {
            margin-bottom: 30px;
            display: inline-block;
            margin-left: 20px;
            line-height: 1.7;
        }

        img {
            width: 50px;
            height: 50px;
            @include vendore(webkit moz o, border-radius, 100px);
        }

        i {
            font-size: 17px;
        }
    }
}