/* _____ start style footer _____ */
.copy-right {
    font-size: 13px;

    a {
        color: $main-color;
        letter-spacing: .5px;
        font-weight: bold;
    }
}

.social {
    a {
        margin-right: 25px;
        color: $main-color;
        font-size: 13px;
    }
}