/* _____ style nav-mobile _____ */
.nav-mobile {
    position: fixed;
    right: -300px;
    width: 300px;
    background-color: #fff;
    top: 0;
    height: 100%;
    z-index: 11;
    padding: 20px 20px;
    @include vendore(webkit moz o, transition, 280ms linear);
    @include vendore(webkit, box-shadow, -10px 0 20px -10px rgba(0, 0, 0, 0.1));
    &.active {
        right: 0;
    }
    .mobile-site-close {
        position: absolute;
        right: 20px;
        top: 5px;
        cursor: pointer;

        span {
            font-size: 50px;
            color: #000 !important;
            opacity: 1;
        }
    }

    main {
        margin: 80px 20px;
    }

    ul {
        li {
            position: relative;

            a {
                display: block;
                color: #212529;
                padding: 5px 0;
                @include vendore(webkit moz o, transition, 280ms linear);
                text-transform: capitalize;

                &:hover,
                &.active {
                    color: $main-color;
                }

                >i.fa-chevron-down {
                    font-size: 9px;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 36px;
                    height: 36px;
                    border: 1px solid #f8f9fa;
                    border-radius: 100px;
                    text-align: center;
                    line-height: 36px;
                    cursor: pointer;
                    z-index: 1;
                    @include vendore(webkit moz o, transition, 280ms linear);
                }
            }

            &.active>a>i.fa-chevron-down {
                transform: rotate(180deg);
            }
        }

        ul {
            max-height: 0;
            overflow: hidden;
            @include vendore(webkit moz o, transition, 280ms linear);

            li {
                a {
                    font-size: 14px;
                    padding: 5px 15px;
                    color: #777;
                }

                ul {
                    li {
                        a {
                            padding: 5px 30px;
                        }
                    }
                }
            }
        }
    }
}

ul li.active>ul {
    max-height: 180px;
}