/* _____ Import files _____ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000');

/* _____ style all rules _____ */
* {
    @include vendore(webkit moz, box-sizing, border-box);
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    @include vendore(webkit moz o, transition, 180ms linear background-color);
}

::selection {
    background-color: #000;
    color: #fff;
}

h1,
h2,
h3,
h4 {
    text-transform: $fontCapitalize;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    text-transform: $fontCapitalize;
}

p {
    color: $body-color;
    line-height: $lineHeight;
}

img.lang {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-top: 14px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

input,
textarea,
button {
    font-family: 'Nunito', sans-serif;
}

.overlay-body::before {
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include vendore(webkit moz o, transition, 280ms linear);
    position: fixed;
    background-color: rgba(#000, .6);
    visibility: hidden;
    opacity: 0;
}

.overlay-body.active::before {
    opacity: 1;
    visibility: visible;
}


.section {
    padding: 120px 0;
}

.section-trigger {
    padding: 70px 0;
}

.bg-gray {
    background-color: #f6f6f6;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img-fluid {
    max-width: 100%;
    vertical-align: middle;
}

.text-white {
    color: #fff !important;
}


.main-title {
    h2 {
        font-size: 40px;
        margin-bottom: 15px;
        color: $main-color;
        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 200;
    }
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient(left, #6696e3 0%, #02def7 100%);
    line-height: 44px;
    cursor: pointer;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .1);
    border-radius: 25px;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    @include vendore(webkit, box-shadow, 0 4px 20px -5px rgba(66, 133, 244, 0.4));
    @include vendore(webkit moz o, transition, .3s linear);

    &:hover {
        bottom: 16px;
        background-color: #fff;
        @include vendore(webkit, box-shadow, 0 5px 30px -5px rgba(66, 133, 244, 0.7));
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

